{% include '/common/header.twig' %}
{% include '/common/navbar.twig' %}
	{% include '/common/main_0.twig' %}
	<h3>Important Form Information</h3>
	<div class="container">
		{# <h4>Examples:</h4> #}<br>
			<p>Example to see what each form field does: <a href="/user/Name" class="normal">Click Here</a>.</p>
			<p>Example submission filled out by Cole: <a href="/user/Cole%20Manning" class="normal">Click Here</a>.</p><br>
		<h4>Things to note:</h4>
			<p>
				1. Uploaded <b>Images will be resized</b> to a 250px wide thumbnail (when clicked on, thumbnail will expand to full sized image). You can have anywhere between 0 and 3 images.
			</p>
			<p>
				2. You will need the Form Password to submit your info. It can be found in the email you were sent.
			</p>
			<p>
				3. If your <b>product is a PDF or any other file</b>, submit everything else in the form and then <a href="cole.manning [at] theparkerschool.org" rel="nofollow" class="normal" onclick="this.href='mailto:' + 'cole.manning' + '@' + 'theparkerschool.org'">email me</a> and I can upload it for you (It will be set as the link section).
			</p>
			<p>
				4. You <b>cannot have different paragraphs</b> in your bio. <br>&nbsp;&nbsp;&nbsp;If you type:<br><div class="container">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New paragraph yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa.<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa</div><br><p>&nbsp;&nbsp;&nbsp;The output will be:</p><div class="container">&nbsp;New paragraph yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa.&nbsp;yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa yada ydaa</div>
			</p>
		<p><br>5. If your submission has any errors just tell Cole and he'll fix it. Unless he doesn't feel like it.</p>
		<p class="text-center"><a href="/form" class="normal">Click Here to Go Back to the Form</p>
	</div>
{% include '/common/footer.twig' %}
{% include '/common/footer.twig' %}